.app {
  margin: 0 auto;
  width: fit-content;
}

.window {
  display: flex;
  justify-content: space-between;
  background-color: white;
  width: 1216px;
  height: 752px;
}

@media (max-width: 1216px) {
  .window {
    width: 1024px;
  }
}
