body {
  background-color: #edf0f4;
  font-family: "Montserrat";
  color: #282929;
}

h1 {
  font-size: 42px;
  letter-spacing: -0.005em;
  margin: 40px 0;
  color: black;
}

h2{
    font-size: 28px;
    letter-spacing: -0.01em;
    margin: 24px 0;
    color: black;
}

p{
  margin: 0;
}