
.text {
  
  min-width: 571px;
  max-width: 571px;
  height: 48px;
  min-height: 48px;
  max-height: 77px;
  border: 1px solid #d7e1ef;
  font-size: 15px;
  padding: 10px 16px;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat";
}

.textWhenFile {
  background-color: #e8ecf3;
}

.text::placeholder {
  color: #a4b4c9;
  font-size: 15px;
}


.labelFile {
  padding: 16px;
  cursor: pointer;
}

.file {
  display: none;
}
